@page "/tasks"
@inject ITaskService TaskService
@using CTOHelper.Application.Interfaces
@using CTOHelper.Domain.Entities

<h3> Your tasks </h3>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var task in tasks)
        {
            <li><strong>@task.Title</strong> - Due: @task.DueDate.ToShortDateString()</li>
        }
    </ul>
}

@code {
    private List<DevTask>? tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetAllTasksAsync();
    }
}